/*
    Filename: style.css
    Author: Brian Twene
    Date: 13/07/21
*/



/*set padding, margin, font and 
box-sizing to all elements*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
 }


@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}



/*allow html adn body to take up 
full viewport height and width*/
html,body{
    height: 100vh;
    width: 100vw;
}

body{
    font-size: 62.5%;
}

/*Grid container settings for the 
mobile version of the site*/
#grid-container{
    height: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: min-content auto min-content;
    grid-template-areas: 
    "header header"
    "main main"
    "footer about";
    
}

header{
    grid-area: header;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 3.6em;
    padding: 0.5em;
}

/*inner grid container for the mobile version*/
main{
    grid-area: main;
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "."
    "control";
}

/*footer container,font settings*/
footer{
    grid-area: footer;
    background-color: black;
    color: white;
    font-size: 2.4em;
    font-weight: 800;
    vertical-align: center;
    
}

/*colour generate container*/
#color-control{
    grid-area: control;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

/*form labels*/
label{
    font-size: 2.4em;
    font-weight: 500;
}
/*input fields*/
.color-field{
    font-size: 2.8em;
    font-weight: 500;
    width: 95%;
    border: 4px solid black;
    border-radius: 33.5px;
    text-align: center;
    
}

/*generate button*/
#generate{
    background-color: white;
    font-size: 2.4em;
    font-weight: 700;
    width: 70%;
    margin-top: 1em;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 3.7em;
}

/*padding for the bottom of page*/
footer, #about{
    padding: 1em;
}
/*about button settings*/
#about-button-mobile{
    background-color: transparent;
    font-size: 4em;
    color: white;
    width: 100%;
    border: none;
}

/*about button container*/
#about-mobile{
    grid-area: about;
    background-color: black;
}
/*about modal container*/
.about-background{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    display: none;
    animation: fade 200ms;
}

/*inner container of the modal*/
#about-info{
    background-color: white;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*about and how to headings*/
h2{
    font-weight: 500;
    font-size: 4.8em;
    text-align: center;
}

/*about and how to paragraphs*/
p{
    font-size: 1.8em;
    padding: 0em 2em;
}

/*container for holding 
the close button*/
#about-close{
align-self: center;
width: 20%;
}
/**/
#about-close > button{
    width: 100%;
    font-size: 5em;
    background-color: transparent;
    border: none;
}

#about-desktop, #about-button-desktop{
    display: none;
}

.open{
    display: grid;
}

.close{
    display: none;
}

@media only screen and (min-width: 768px){
   
    #grid-container{
        min-height: 100%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto min-content;
        grid-template-areas: 
        "main main main"
        "footer footer header";
        
    }
   

    main{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: auto auto min-content min-content auto auto;
    }

    #color-control{
        grid-row: 3/5;
        grid-column: 3/5;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        align-self: center;
        padding: 3em;
        
       
        border-radius: 55px;
    }

    label{
        align-self:flex-start;
        padding: 0em 0.5em;

    }

    #RGB,#HEX{
        margin-bottom: 1em;
        padding: 0.1em;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
        
        
    }

    #generate{
        align-self: center;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    }

    #about-button-desktop{
        grid-row: 6/7;
        grid-column: 6/7;
        background-color: white;
        padding: 0.625em;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        margin: auto;
        background-color: white;
        border: none;

    }

    .fa-question-circle{
        font-size: 6em;
    }

   
    


    #about-mobile,#about-button-mobile{
        display: none;
    }

    #about-desktop,#about-button-desktop{
        display: block;
    }
    
    .about-background{
          
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: auto auto min-content min-content auto auto; 
    }

    #about-info{
        grid-row: 3/5;
        grid-column: 3/5;
        padding: 2em;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
        border-radius: 55px;
    }

    .open{
        display: grid;
    }

    .close{
        display: none;
    }




    @media (orientation: portrait){
        #color-control{
            grid-column: 2/6;
        }

        #about-info{
            grid-column: 2/6;
        }
    }

}
